# Ports
BACKEND_PORT=5000
FRONTEND_PORT=3000
N8N_PORT=5678

# Postgres
POSTGRES_DB=orderdb
POSTGRES_USER=orderuser
POSTGRES_PASSWORD=orderpass
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Node env
NODE_ENV=development

# n8n
N8N_ENCRYPTION_KEY=1bddb2bbc0cad98480ed70d91bff2a67478d6233f3dc7f0a2512980bd90df1b2
N8N_HOST=localhost
N8N_PROTOCOL=http
GENERIC_TIMEZONE=Asia/Ho_Chi_Minh
N8N_EDITOR_BASE_URL=http://localhost:5678
WEBHOOK_URL=http://localhost:5678
