# Ports
BACKEND_PORT=5000
FRONTEND_PORT=3000
N8N_PORT=5678

# Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Redis
REDIS_PORT=

# Node env
NODE_ENV=development

# n8n
N8N_ENCRYPTION_KEY=
N8N_HOST=localhost
N8N_PROTOCOL=http
GENERIC_TIMEZONE=Asia/Ho_Chi_Minh
N8N_EDITOR_BASE_URL=http://localhost:5678
WEBHOOK_URL=http://localhost:5678
